@charset "UTF-8";

@import 'vendor/normalize';

#topMenu ul
{
    list-style-type: none;
    overflow: hidden;
    background: #333333;
    padding: 0;
    margin: 0;
}

#topMenu ul li
{
    float: left;
}

#topMenu ul li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topMenu ul li a:hover
{
    background: #111111;
}

#topMenu ul li .active
{
    background: #3CAFE2;
}

.content
{
    padding: 10px;
}

.scroll-box
{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100px;

    .unit
    {
        flex: 0 0 auto;
        height: 98px;
        width: 98px;
        border: 1px solid gainsboro;
        background: white;
    }
}